<div class="c-news">
    <a href="./aktuality_1.html"><img src="/src/img/znak.png" alt="Znak města Železný Brod"
            class="c-image news__image"></a>
    <div class="news__text">
        <a class="h2 a" href="aktuality_1.html">Dopravní omezení kvůli Jarmarku</a>
        <p class="news__date">02.06.2025</p>
        <p>Od 2. 6. 2025 od 8:00 hodin do 9. 6. 2025 do 8:00 hodin dochází k uzavírce místní komunikace Jiráskovo
            nábřeží od křižovatky s ulicí Sokolská po křižovatku s Masarykovou ulicí (most). Dále k uzavření vjezdu do
            ulice Smetanovo zátiší od náměstí 3. května a změně dopravního režimu v této ulici na obousměrný provoz. Od
            6. 6. 2025 od 8:00 hodin do 8. 6.2025 do 20:00 hodin nastane uzavírka silnice II/288 Nábřeží Obránců míru, a
            to od křižovatky s Masarykovou ulicí (od mostu) po koupaliště.</p>
    </div>
</div>