<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/assets/images/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>404 - Stránka nenalezena</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__404">
        <img src="/assets/images/sad.svg" alt="Smuzný smajlík" class="sad__image">
        <h1>Stránka Nenalezena</h1>
        <p>Omlouváme se, ale stránka, kterou hledáte, neexistuje nebo byla přesunuta.</p>
        <p>Prosím, vraťte se na hlavní stránku nebo použijte navigaci v horní
            části stránky.</p>
        <a href="/index.html" class="c-button">Domovská stránka</a>
    </main>

    {% include "templates/partials/footer.html" %}

    <script src="/assets/js/hamburger.js"></script>
</body>

</html>