<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=
    , initial-scale=1.0" />
    <link rel="stylesheet" type="" href="/src/styles/main.css">
    <title>Město Železný Brod</title>
</head>

<body>
    {% include "templates/partials/header.html" %}
 
    <main class="main main__width">
        <div>
            <section class="news__container">
                <h1 class="news__h1">Nabídka práce</h1>
                <img src="/src/img/znak.png" alt="Logo města Železný Brod" class="c-image news__img"
                    title="Zdroj: https://example.com">
                <div class="news__content">
                    <p class="news__date">29.5.2025</p>
                    <p>Město Železný Brod hledá vhodného kandidáta nebo kandidátku na zpracování mzdového účetnictví pro
                        školské organizace (do 8 subjektů) po dobu pracovní neschopnosti zaměstnance.</p>
                </div>
                <a href="javascript:history.back()" class="c-button news__button">Zpět</a>
            </section>

            <section class="news__next">
                <h2>Další aktuality</h2>
                {% include "templates/partials/news.html" %}
                {% include "templates/partials/news.html" %}
                {% include "templates/partials/news.html" %}
            </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/src/scripts/hamburger.js"></script>
</body>

</html>