<!DOCTYPE html>
<html lang="cs">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta name="description"
        content="Oznámení o přerušení dodávky elektřiny v části obce Těpeře dne 4. června 2025 od 10:00 do 12:00 hodin. Odstávka se týká čísel popisných 6, 7, 46, 60, 80, 88, 91 a 111.">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Železný Brod | Přerušení dodávky elektrické energie</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <section class="news__container">
            <h1 class="news__h1">Oznámení o přerušení dodávky elektrické
                energie</h1>
            <img src="/assets/images/electrical.svg" alt="Logo města Železný Brod" class="c-image news__img"
                title="Zdroj: https://example.com">
            <div class="news__content">
                <p class="news__date">02.6.2025</p>
                <p>Upozorňujeme občany, že dne 4. 6. 2025 od 10:00 do 12:00 hodin proběhne odstávka elektřiny, a to
                    v části obce Těpeře.
                </p>
                <p class="h2"> Dotčenné adresy: Těpeře č. p.</p>
                <ul id="news__list">
                    <li>6</li>
                    <li>7</li>
                    <li>46</li>
                    <li>60</li>
                    <li>80</li>
                    <li>88</li>
                    <li>91</li>
                    <li>111</li>
                </ul>
            </div>
            <a href="javascript:history.back()" class="c-button news__button">Zpět</a>
        </section>

        <section class="news__next">
            <h2>Další aktuality</h2>

            <div class="c-news">
                <a href="/aktuality_1.html"><img src="/assets/images/traffic-cone.svg" alt="Znak města Železný Brod"
                        class="c-image news__image"></a>
                <div class="news__text">
                    <a class="h2 a" href="/aktuality_1.html">Dopravní omezení kvůli Jarmarku</a>
                    <p class="news__date">02.06.2025</p>
                    <p>Od 2. 6. 2025 od 8:00 hodin do 9. 6. 2025 do 8:00 hodin dochází k uzavírce místní
                        komunikace
                        Jiráskovo
                        nábřeží od křižovatky s ulicí Sokolská po křižovatku s Masarykovou ulicí (most). Dále k
                        uzavření
                        vjezdu do
                        ulice Smetanovo zátiší od náměstí 3. května a změně dopravního režimu v této ulici na
                        obousměrný
                        provoz. Od
                        6. 6. 2025 od 8:00 hodin do 8. 6.2025 do 20:00 hodin nastane uzavírka silnice II/288
                        Nábřeží
                        Obránců míru, a
                        to od křižovatky s Masarykovou ulicí (od mostu) po koupaliště.</p>
                    <a href="/aktuality_1.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>

            <div class="c-news">
                <a href="/aktuality_3.html"><img src="/assets/images/charging-pump.svg" alt="Znak města Železný Brod"
                        class="c-image news__image"></a>
                <div class="news__text">
                    <a class="h2 a" href="/aktuality_3.html">Omezení dobíjecí stanice pro
                        elektromobily</a>
                    <p class="news__date">28.05.2025</p>
                    <p>Upozorňujeme, že ve dnech 6. - 8. června bude v Železném Brodě probíhat Železnobrodský
                        jarmark, a
                        tudíž bude omezený přístup k oběma nabíjecím stanicím pro elektromobily v Železném
                        Brodě.
                        Přístup bude znemožněn od 1. června, kdy budou naváženy atrakce. Obnovení provozu
                        předpokládáme
                        10. června, po odjezdu všech atrakcí.</p>
                    <a href="/aktuality_3.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/assets/js/hamburger.js"></script>
</body>

</html>