<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta name="description"
        content="Dopravní omezení v Železném Brodě kvůli Železnobrodskému jarmarku: uzavírky ulic Jiráskovo nábřeží a Nábřeží Obránců míru od 2. do 9. června 2025. Změny v dopravním režimu a omezení přístupu k nabíjecím stanicím pro elektromobily.">
    <link rel="stylesheet" type="text/css" href="/src/styles/main.css">
    <title>Železný Brod | Dopravní omezení</title>
    <meta name="robots" content="index,follow">
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <section class="news__container">
            <h1 class="news__h1">Dopravní omezení kvůli Jarmarku</h1>
            <img src="/src/svg/traffic-cone.svg" alt="Logo města Železný Brod" class="c-image news__img">
            <div class="news__content">
                <p class="news__date">02.6.2025</p>
                <p>Od 2. 6. 2025 od 8:00 hodin do 9. 6. 2025 do 8:00 hodin dochází k uzavírce místní komunikace
                    Jiráskovo nábřeží od křižovatky s ulicí Sokolská po křižovatku s Masarykovou ulicí (most). Dále
                    k uzavření vjezdu do ulice Smetanovo zátiší od náměstí 3. května a změně dopravního režimu v
                    této ulici na obousměrný provoz. Od 6. 6. 2025 od 8:00 hodin do 8. 6.2025 do 20:00 hodin nastane
                    uzavírka silnice II/288 Nábřeží Obránců míru, a to od křižovatky s Masarykovou ulicí (od mostu)
                    po koupaliště.</p>
            </div>
            <a href="javascript:history.back()" class="c-button news__button">Zpět</a>
        </section>

        <section class="news__next">
            <h2>Další aktuality</h2>

            <div class="c-news">
                <a href="/aktuality_2.html"><img src="/src/svg/electrical.svg" alt="Znak města Železný Brod"
                        class="c-image news__image"></a>
                <div class="news__text">
                    <a class="h2 a" href="/aktuality_2.html">Oznámení o přerušení dodávky elektrické
                        energie</a>
                    <p class="news__date">02.06.2025</p>
                    <p>Upozorňujeme občany, že dne 4. 6. 2025 od 10:00 do 12:00 hodin proběhne odstávka
                        elektřiny, a
                        to
                        v části obce Těpeře.</p>
                    <a href="/aktuality_2.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>

            <div class="c-news">
                <a href="/aktuality_3.html"><img src="/src/svg/charging-pump.svg" alt="Znak města Železný Brod"
                        class="c-image news__image"></a>
                <div class="news__text">
                    <a class="h2 a" href="/aktuality_3.html">Omezení dobíjecí stanice pro
                        elektromobily</a>
                    <p class="news__date">28.05.2025</p>
                    <p>Upozorňujeme, že ve dnech 6. - 8. června bude v Železném Brodě probíhat Železnobrodský
                        jarmark, a
                        tudíž bude omezený přístup k oběma nabíjecím stanicím pro elektromobily v Železném
                        Brodě.
                        Přístup bude znemožněn od 1. června, kdy budou naváženy atrakce. Obnovení provozu
                        předpokládáme
                        10. června, po odjezdu všech atrakcí.</p>
                    <a href="/aktuality_3.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/src/scripts/hamburger.js"></script>
</body>

</html>