<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/svg/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta name="description"
        content="Objevte Besedické skály v Českém ráji – pískovcový labyrint s historickými bludišti Kalich a Chléviště, tajnou modlitebnou českých bratří a vyhlídkami na údolí Jizery. Ideální pro rodinné výlety a milovníky přírody.">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>Železný Brod | Besedické skály</title>
    <meta name="robots" content="index,follow">
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main">
        <h1 class="h1__center">Besedické skály</h1>
        <section class="page__tips">
            <div class="tips__container">
                <div>
                    <p>Besedické skály v Českém ráji představují fascinující labyrint pískovcových skal, který nabízí
                        nejen
                        geologické zajímavosti, ale i hluboký historický a duchovní význam. Tato oblast, nacházející se
                        nad
                        levým břehem řeky Jizery poblíž obce Besedice, je ideálním místem pro rodinné výlety a milovníky
                        přírody.</p>
                </div>
                <div class=" img-with-info">
                    <img src="/assets/images/besedice.jpg" class="tips__img" alt="Besedické skály"
                        srcset="/assets/images/besedice720.jpg 720w, /assets/images/besedice1280.jpg 1280w, /assets/images/besedice1920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://www.regiontourist.cz/co-podniknout/besedicke-skaly/" class="info-btn"
                        title="Zdroj: https://www.regiontourist.cz/co-podniknout/besedicke-skaly/">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Skalní bludiště Kalich a Chléviště</h2>
                    <p>Hlavními atrakcemi Besedických skal jsou dvě skalní bludiště: Kalich a Chléviště. Bludiště Kalich
                        sloužilo v době protireformace jako tajná modlitebna českých bratří. Uprostřed pěti skalních
                        roklí se
                        zde nachází oltář s vytesaným kalichem a letopočtem 1634. Na stěnách jsou vyryty úryvky z Kšaftu
                        J. A.
                        Komenského a verše františkánského mnicha J. Vitáska.</p>
                    <p>Chléviště je další významnou částí skalního komplexu, kde se nachází Sluj exulanta Václava
                        Sadovského ze
                        Sloupna. Tato oblast nabízí nádherné vyhlídky na maloskalské údolí a je protkána úzkými průchody
                        a
                        skalními útvary.</p>
                </div>
                <div class=" img-with-info">
                    <img src="/assets/images/besedice2.jpg" class="tips__img" alt="Skalní bludiště Kalich"
                        srcset="/assets/images/besedice2720.jpg 720w, /assets/images/besedice21280.jpg 1280w, /assets/images/besedice21920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://www.natreku.cz/vylet-cesky-raj-skalni-bludiste-kalich/" class="info-btn"
                        title="Zdroj: https://www.natreku.cz/vylet-cesky-raj-skalni-bludiste-kalich/">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Naučná stezka Besedickými skalamit</h2>
                    <p>Celý okruh měří přibližně 5 km a je nenáročný, vhodný i pro rodiny s dětmi. Naučná stezka je
                        zaměřena na
                        geologii a historii oblasti a obsahuje deset informačních tabulí. Trasa vede přes skalní
                        bludiště,
                        vyhlídky a další zajímavosti.</p>
                </div>
                <div class=" img-with-info">
                    <img src="/assets/images/besedice3.jpg" class="tips__img" alt="Mapa naučné stezky Besedickými skalami"
                        srcset="/assets/images/besedice3720.jpg 720w, /assets/images/besedice31280.jpg 1280w, /assets/images/besedice31920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://www.dumprirody.cz/ceskyraj/tipy-na-vylety/naucna-stezka-besedickymi-skalami/"
                        class="info-btn"
                        title="Zdroj: https://www.dumprirody.cz/ceskyraj/tipy-na-vylety/naucna-stezka-besedickymi-skalami/">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Vyhlídky a přírodní scenérie</h2>
                    <p>Besedické skály nabízejí několik atraktivních vyhlídek:</p>
                    <ul>
                        <li>Sokol: Pískovcový vrchol s plošinou poskytující krásný výhled na údolí Jizery, Malou Skálu a
                            Suché
                            skály.</li>
                        <li>Kde domov můj, Kinského, Hořákova a Husníkova: Další vyhlídky s panoramatickými pohledy na
                            okolní
                            krajinu.</li>
                    </ul>
                </div>
                <div class=" img-with-info">
                    <img src="/assets/images/besedice4.jpg" class="tips__img" alt="Vyhlídka Sokol v Besedických skalách"
                        srcset="/assets/images/besedice4720.jpg 720w, /assets/images/besedice41280.jpg 1280w, /assets/images/besedice41920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://commons.wikimedia.org/wiki/File%3AVrch_Sokol_-vyhl%C3%ADdka_-_Besedick%C3%A9_sk%C3%A1ly_%282%29.JPG"
                        class="info-btn"
                        title="Zdroj: https://commons.wikimedia.org/wiki/File%3AVrch_Sokol_-vyhl%C3%ADdka_-_Besedick%C3%A9_sk%C3%A1ly_%282%29.JPG">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Přístup a doprava</h2>
                    <p>Do Besedic se lze dostat autem po silnici Turnov – Železný Brod přes Koberovy, odkud odbočíte
                        směrem na
                        Malou Skálu a následně přímo k parkovišti v Besedicích. Od bufetu u parkoviště vede červená a
                        zelená
                        turistická značka k bývalé chatě U Kalicha, kde začíná žlutě značený Besedický okruh skalami.
                    </p>
                    <p>Besedické skály jsou méně navštěvované než jiné části Českého ráje, což umožňuje klidnější
                        procházky a
                        hlubší spojení s přírodou. Je to ideální místo pro ty, kteří hledají kombinaci přírodních krás,
                        historie
                        a duchovního rozměru.</p>
                </div>
                <iframe src="https://mapy.com/s/homevocote" title="Mapa Besedic"></iframe>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/scripts/hamburger.js"></script>
</body>

</html>