<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/styles/main.css">
    <title>Železný Brod | Bozkovské jeskyně</title>
    <meta name="robots" content="index,follow">
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main">
        <h1 class="h1__center">Bozkovské dolomitové jeskyně</h1>
        <section class="page__tips">
            <div class="tips__container">
                <div>
                    <p>Bozkovské dolomitové jeskyně se nacházejí poblíž obce Bozkov u Semil. Jedná se
                        o jediné veřejnosti přístupné dolomitové jeskyně v České republice. Nabízejí jedinečný zážitek
                        díky bohaté krápníkové výzdobě a největšímu podzemnímu jezeru v Čechách.</p>
                </div>
                <div class=" img-with-info">

                    <img src="/src/img/bozkov.jpg" class="tips__img" alt="Budova Bozkovských dolomitových jeskyní"
                        srcset="/src/img/bozkov720.jpg 720w, /src/img/bozkov1280.jpg 1280w, /src/img/bozkov1920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://www.casopis.ochranaprirody.cz/vyzkum-a-dokumentace/bozkovske-dolomitove-jeskyne-50-let-od-zpristupneni-verejnosti/"
                        class="info-btn"
                        title="Zdroj: https://www.casopis.ochranaprirody.cz/vyzkum-a-dokumentace/bozkovske-dolomitove-jeskyne-50-let-od-zpristupneni-verejnosti/">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Historie a přírodní zajímavosti</h2>
                    <p>Bozkovské dolomitové jeskyně byly objeveny v roce 1947 při těžbě vápence. Jsou to jediné
                        zpřístupněné dolomitové jeskyně v České republice. Jeskyně jsou známé svou unikátní krápníkovou
                        výzdobou a největším podzemním jezerem v Čechách s průzračnou modrozelenou vodou.</p>
                </div>
                <div class=" img-with-info">
                    <img src="/src/img/bozkov2.jpg" class="tips__img" alt="Podzemní jezero v Bozkovských jeskyních"
                        srcset="/src/img/bozkov2720.jpg 720w, /src/img/bozkov21280.jpg 1280w, /src/img/bozkov21920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://cesky.radio.cz/bozkovske-jeskyne-skryvaji-nejvetsi-podzemni-jezero-v-cesku-8132056"
                        class="info-btn"
                        title="Zdroj: https://cesky.radio.cz/bozkovske-jeskyne-skryvaji-nejvetsi-podzemni-jezero-v-cesku-8132056">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Prohlídkový okruh</h2>
                    <p>Prohlídková trasa měří přibližně 350 metrů a je nenáročná, vhodná i pro rodiny s dětmi. Během
                        prohlídky uvidíte různé krápníkové útvary, jako jsou stalaktity, stalagmity a stalagnáty.
                        Největším lákadlem je podzemní jezero, které se nachází 22 metrů pod zemí a má rozlohu 24 × 14
                        metrů.</p>
                </div>
                <div class=" img-with-info">
                    <img src="/src/img/bozkov3.jpg" class="tips__img" alt="Prohlídkový okruh Bozkovských jeskyní"
                        srcset="/src/img/bozkov3720.jpg 720w, /src/img/bozkov31280.jpg 1280w, /src/img/bozkov31920.jpg 1920w"
                        sizes="100vw">
                    <a href="https://bozkovske.caves.cz/prohlidka" class="info-btn"
                        title="Zdroj: https://bozkovske.caves.cz/prohlidka">i</a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Přístup a doprava</h2>
                    <p>Do Bozkova se dostanete autem po silnici z Semil nebo Železného Brodu. Parkoviště se nachází asi
                        10 minut chůze od vstupu do jeskyní. Vstupenky je doporučeno rezervovat předem, zejména během
                        letní sezóny, kdy je vysoká návštěvnost.</p>
                </div>
                <iframe src="https: //mapy.com/s/lezasutova" height="250" title="Mapa Bozkova"></iframe>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/src/scripts/hamburger.js"></script>
</body>

</html>