<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta name="description"
        content="Objevte řeku Jizeru v Železném Brodě – ideální místo pro vodáky, cyklisty a turisty. Greenway Jizera nabízí malebné úseky podél řeky, včetně úseků mezi Líšným, Železným Brodem a Spálovem, s romantickými skalními úseky a možností napojení na další turistické trasy směrem na Semily a Bozkov.">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Greenway Jizera | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main">
        <h1 class="h1__center">Greenway Jizera</h1>
        <section class="page__tips">
            <div class="tips__container">
                <div>
                    <p>Greenway Jizera je značená cyklotrasa, která sleduje tok řeky Jizery a spojuje řadu turisticky
                        atraktivních míst mezi horami a Českým rájem. Vede i přes Železný Brod a představuje skvělou
                        příležitost pro cyklovýlety, pěší túry i rodinné výlety s dětmi.
                    </p>
                </div>
                <div class=" img-with-info">

                    <img src="/assets/images/jizera.webp" class="tips__img" alt="Riegrova stezka"
                        srcset="/assets/images/jizera720.webp 720w, /assets/images/jizera1280.webp 1280w, /assets/images/jizera1920.webp 1920w"
                        sizes="100vw">
                    <a href="http://www.greenway-jizera.cz/cs/co-navstivit-1/" class="info-btn"
                        title="Zdroj: http://www.greenway-jizera.cz/cs/co-navstivit-1/">i</a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Trasa a zajímavosti na cestě</h2>
                    <p>Greenway Jizera začíná v Jizerce v Jizerských horách a pokračuje přes Smržovku, Tanvald, Železný
                        Brod, Malou Skálu až do Turnova a dál do oblasti Českého ráje. Cestou nabízí nádherné výhledy na
                        řeku, lesy i historické památky. Na trase se nachází odpočívadla, informační tabule a několik
                        mostů s výhledem na řeku.
                    </p>
                </div>
                <div class=" img-with-info">

                    <img src="/assets/images/jizera2.webp" class="tips__img" alt="Greenway Jizera"
                        srcset="/assets/images/jizera2720.webp 720w, /assets/images/jizera21280.webp 1280w, /assets/images/jizera21920.webp 1920w"
                        sizes="100vw">
                    <a href="https://jablonecky.denik.cz/zpravy_region/cyklostezka-greenway-jizera-trasa-20210721.html"
                        class="info-btn"
                        title="Zdroj: https://jablonecky.denik.cz/zpravy_region/cyklostezka-greenway-jizera-trasa-20210721.html">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Greenway v okolí Železného Brodu</h2>
                    <p>Úsek trasy mezi Líšným, Železným Brodem a Spálovem je oblíbený pro svůj přírodní charakter, nízký
                        provoz a krásné scenérie Jizery, včetně romantických skalních úseků. V Železném Brodě je možné
                        navázat na další turistické trasy nebo pokračovat směrem na Semily a Bozkov.</p>
                </div>
                <div class=" img-with-info">

                    <img src="/assets/images/jizera3.webp" class="tips__img" alt="Greenway Jizera u Dlaskova statku"
                        srcset="/assets/images/jizera3720.webp 720w, /assets/images/jizera31280.webp 1280w, /assets/images/jizera31920.webp 1920w"
                        sizes="100vw">
                    <a href="https://www.impuls.cz/regiony/liberecky-kraj/cykolostezka-jizera-nadeje-les.A170717_110604_imp-liberecky_kov/"
                        class="info-btn"
                        title="Zdroj: https://www.impuls.cz/regiony/liberecky-kraj/cykolostezka-jizera-nadeje-les.A170717_110604_imp-liberecky_kov/">i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Ideální pro cyklisty i pěší</h2>
                    <p>Trasa je nenáročná a vhodná jak pro horská, tak i trekingová kola. Díky dobrému povrchu je
                        vyhledávaná i rodinami s dětmi. Greenway Jizera je výborným způsobem, jak poznat krásy našeho
                        regionu aktivním způsobem.
                    </p>
                </div>
                <div class=" img-with-info">

                    <img src="/assets/images/jizera4.webp" class="tips__img" alt="Mapa Greenway Jizera"
                        srcset="/assets/images/jizera4720.webp 720w, /assets/images/jizera41280.webp 1280w, /assets/images/jizera41920.webp 1920w"
                        sizes="100vw">
                    <a href="http://www.greenway-jizera.cz/cs/jizera-cyklisticka/prejezd-cele-trasy-gw-jizera/vysoke-nad-jizerou-zelezny-brod-1.html"
                        class="info-btn"
                        title="Zdroj: http://www.greenway-jizera.cz/cs/jizera-cyklisticka/prejezd-cele-trasy-gw-jizera/vysoke-nad-jizerou-zelezny-brod-1.html">i
                    </a>
                </div>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/assets/js/hamburger.js"></script>
</body>

</html>