<!DOCTYPE html>
<html lang="cs">

<head>
  <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=
    , initial-scale=1.0" />
  <link rel="stylesheet" type="" href="/src/styles/main.css">
  <title>Město Železný Brod</title>
</head>

<body>
  {% include "templates/partials/header.html" %}

  <main class="main">
    <div class="hero">
      <img src="/src/img/radnice.jpg" alt="Pohled na radnici" class="c-image hero__image">
      <div class="hero__title">
        <h1>Železný Brod</h1>
        <p>Skleněné srdce Jizerských hor</p>
      </div>
    </div>

    <section class="news__section">
      {% include "templates/partials/news.html" %}
      {% include "templates/partials/news.html" %}
      {% include "templates/partials/news.html" %}
    </section>


    <div class="page__info-wrapper">
      <div class="page__info">
        <img src="/src/svg/population.svg" class="info__img">
        <p class="h1">6 080</p>
        <p>Obyvatel</p>
      </div>

      <div class="page__info">
        <img src="/src/svg/history.svg" class="info__img">
        <p class="h1">11. st.</p>
        <p>První zmínka</p>
      </div>

      <div class="page__info">
        <img src="/src/svg/area.svg" class="info__img">
        <p class="h1">22,51</p>
        <p>Kilometrů čtverečních</p>
      </div>
    </div>
  </main>

  {% include "templates/partials/footer.html" %}

  <script src="/src/scripts/hamburger.js"></script>
</body>

</html>