<!DOCTYPE html>
<html lang="cs">

<head>
  <link rel="icon" href="/svg/logo-dark.svg" type="image/svg+xml">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
    , initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <title>Železný Brod | Hlavní stránka</title>
  <meta name="robots" content="index,follow">
  <meta name="description"
    content="Oficiální turistický portál Železného Brodu. Najděte tipy na výlety, kulturní program, zajímavosti, historii města a praktické informace pro návštěvníky i obyvatele.">
</head>

<body>
  {% include "templates/partials/header.html" %}

  <main class="main">
    <div class="hero">
      <img src="/img/radnice.jpg" alt="Pohled na radnici" class="c-image hero__image"
        srcset="/img/radnice720.jpg 720w, /img/radnice1280.jpg 1280w, /img/radnice1920.jpg 1920w" sizes="100vw">
      <div class="hero__title">
        <h1>Železný Brod</h1>
        <p>Skleněné srdce Jizerských hor</p>
      </div>
    </div>


    <div class="page__info-wrapper">
      <div class="page__info">
        <img src="/svg/population.svg" class="info__img" alt="Ikona populace">
        <p class="h1">6 080</p>
        <p>Obyvatel</p>
      </div>

      <div class="page__info">
        <img src="/svg/history.svg" class="info__img" alt="Ikona historické budovy">
        <p class="h1">11. st.</p>
        <p>První zmínka</p>
      </div>

      <div class="page__info">
        <img src="/svg/area.svg" class="info__img" alt="Ikona mapy">
        <p class="h1">22,51</p>
        <p>Kilometrů čtverečních</p>
      </div>
    </div>

    <section class="news__section">
      <p class="h1 h1__section">Aktuality</p>
      <div class="news__flex">
        <div class="c-news c-news__index">
          <a href="/aktuality_1.html"><img src="/svg/traffic-cone.svg" alt="Dopravní kužel"
              class="c-image news__image"></a>
          <div class="news__text">
            <a class="h2 a" href="/aktuality_1.html">Dopravní omezení kvůli Jarmarku</a>
            <p class="news__date">02.06.2025</p>
            <p>Od 2. 6. 2025 od 8:00 hodin do 9. 6. 2025 do 8:00 hodin dochází k uzavírce místní
              komunikace
              Jiráskovo
              nábřeží od křižovatky s ulicí Sokolská po křižovatku s Masarykovou ulicí (most). Dále k
              uzavření
              vjezdu do
              ulice Smetanovo zátiší od náměstí 3. května a změně dopravního režimu v této ulici na
              obousměrný
              provoz. Od
              6. 6. 2025 od 8:00 hodin do 8. 6.2025 do 20:00 hodin nastane uzavírka silnice II/288
              Nábřeží
              Obránců míru, a
              to od křižovatky s Masarykovou ulicí (od mostu) po koupaliště.</p>
            <a href="/aktuality_1.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>

        <div class="c-news c-news__index">
          <a href="/aktuality_2.html"><img src="/svg/electrical.svg" alt="Znak elektřiny"
              class="c-image news__image"></a>
          <div class="news__text">
            <a class="h2 a" href="/aktuality_2.html">Oznámení o přerušení dodávky elektrické
              energie</a>
            <p class="news__date">02.06.2025</p>
            <p>Upozorňujeme občany, že dne 4. 6. 2025 od 10:00 do 12:00 hodin proběhne odstávka
              elektřiny, a
              to
              v části obce Těpeře.</p>
            <a href="/aktuality_2.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>

        <div class="c-news c-news__index">
          <a href="/aktuality_3.html"><img src="/svg/charging-pump.svg" alt="Znak dobíjecí stanice"
              class="c-image news__image"></a>
          <div class="news__text">
            <a class="h2 a" href="/aktuality_3.html">Omezení dobíjecí stanice pro
              elektromobily</a>
            <p class="news__date">28.05.2025</p>
            <p>Upozorňujeme, že ve dnech 6. - 8. června bude v Železném Brodě probíhat Železnobrodský
              jarmark, a
              tudíž bude omezený přístup k oběma nabíjecím stanicím pro elektromobily v Železném
              Brodě.
              Přístup bude znemožněn od 1. června, kdy budou naváženy atrakce. Obnovení provozu
              předpokládáme
              10. června, po odjezdu všech atrakcí.</p>
            <a href="/aktuality_3.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>
      </div>
    </section>

    <section class="calendar__section">
      <p class="h1 h1__section">Kalendář akcí</p>
      <div class="calendar__container">

        <div class="calendar__card calendar__index">
          <a class="a h2" href="/akce_1.html">Železnobrodský jarmark</a>
          <p>Tradiční slavnost s neopakovatelnou atmosférou. Ulice města ožívají stánky s řemeslnými výrobky,
            regionálními specialitami a zábavným programem pro celou rodinu. Těšit se můžete na živou hudbu,
            divadelní vystoupení, atrakce pro děti a ukázky tradičních řemesel.
            Přijďte zažít den plný chutí, barev a radosti v srdci sklářského města!
          </p>
          <div class="calendar__footer">
            <div class="calendar__text">
              <p>Datum a čas: od 06.06.2025 18:30 do 08.06.2025</p>
              <p>Místo konání: Železný Brod</p>
            </div>
            <a href="/akce_1.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>

        <div class="calendar__card calendar__index">
          <a class="a h2" href="/akce_2.html">Letní Sklářská dílna </a>
          <p>
            LSD 2025 - Kreativní dialog umělců a sklářských řemeslníků, aktuální přístupy ve sklářské tvorbě,
            experimentální technologie v praxi, inspirace pro žáky sklářské školy i jejich pedagogy – takto lze
            charakterizovat již 14. ročník sklářského sympozia Letní sklářská dílna, které se bude konat 10.–11.
            června
            v Železném Brodě. Pouze několik dní budou mít umělci k tomu, aby ve spolupráci se sklářskými řemeslníky
            převedli svou ideu do skleněného materiálu. Realizace se uskuteční v převažující míře v železnobrodské
            sklářské škole. Své technologické zázemí, materiál a ruce sklářů poskytne pro jednoho z účastníků
            sympozia,
            již posedmé, sklářská firma Detesk.
          </p>
          <div class="calendar__footer">
            <div class="calendar__text">
              <p>Datum a čas: 10.06.2025 od 08:00 hodin a 11.06.2025 od 08:00 hodin</p>
              <p>Místo konání: SUPŠS Železný Brod</p>
            </div>
            <a href="/akce_2.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>

        <div class="calendar__card calendar__index">
          <a class="a h2" href="/akce_3.html">Těpeřský vědomostní kvíz</a>
          <p>
            Kvíz se skládá z otázek ze 4 zajímavých okruhů.
            Tématem těchto okruhů může být skutečně cokoliv - od sportu přes zeměpis do kuchyně ke kultuře a zábavě.
            Tak přijďte se s námi potrápit mozkové závity, nebo se něco zajímavého dozvědět
            Ten kdo vyhraje, s prázdnou neodejde
            Občerstvení je zajištěno, stejně tak jako dobré pivko, vínko a nealko.
          </p>
          <div class="calendar__footer">
            <div class="calendar__text">
              <p>Datum a čas: 14.06.2025 od 19:00 hodin</p>
              <p>Místo konání: Sokolovna Těpeře</p>
            </div>
            <a href="/akce_3.html" class="c-button c-news__button">Přečíst</a>
          </div>
        </div>

      </div>
    </section>
  </main>

  {% include "templates/partials/footer.html" %}

  <script src="/scripts/hamburger.js"></script>
</body>

</html>