<!DOCTYPE html>
<html lang="cs">

<head>
  <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=
    , initial-scale=1.0" />
  <link rel="stylesheet" type="" href="/src/styles/main.css">
  <title>Město Železný Brod</title>
</head>

<body>
  {% include "templates/partials/header.html" %}

  <main class="main">
    <div class="hero">
      <img src="/src/img/radnice.jpg" alt="Pohled na radnici" class="c-image hero__image">
      <div class="hero__title">
        <h1>Železný Brod</h1>
        <p>Skleněné srdce Jizerských hor</p>
      </div>
    </div>


    <div class="page__info-wrapper">
      <div class="page__info">
        <img src="/src/svg/population.svg" class="info__img">
        <p class="h1">6 080</p>
        <p>Obyvatel</p>
      </div>

      <div class="page__info">
        <img src="/src/svg/history.svg" class="info__img">
        <p class="h1">11. st.</p>
        <p>První zmínka</p>
      </div>

      <div class="page__info">
        <img src="/src/svg/area.svg" class="info__img">
        <p class="h1">22,51</p>
        <p>Kilometrů čtverečních</p>
      </div>
    </div>

    <section class="news__section">
      <h1 class="h1__section">Aktuality</h1>
      <div class="news__flex">
      <div class="c-news c-news__index">
        <a href="/aktuality_1.html"><img src="/src/svg/traffic-cone.svg" alt="Znak města Železný Brod"
            class="c-image news__image"></a>
        <div class="news__text">
          <a class="h2 a" href="/aktuality_1.html">Dopravní omezení kvůli Jarmarku</a>
          <p class="news__date">02.06.2025</p>
          <p>Od 2. 6. 2025 od 8:00 hodin do 9. 6. 2025 do 8:00 hodin dochází k uzavírce místní
            komunikace
            Jiráskovo
            nábřeží od křižovatky s ulicí Sokolská po křižovatku s Masarykovou ulicí (most). Dále k
            uzavření
            vjezdu do
            ulice Smetanovo zátiší od náměstí 3. května a změně dopravního režimu v této ulici na
            obousměrný
            provoz. Od
            6. 6. 2025 od 8:00 hodin do 8. 6.2025 do 20:00 hodin nastane uzavírka silnice II/288
            Nábřeží
            Obránců míru, a
            to od křižovatky s Masarykovou ulicí (od mostu) po koupaliště.</p>
          <a href="/aktuality_1.html" class="c-button c-news__button">Přečíst</a>
        </div>
      </div>

      <div class="c-news c-news__index">
        <a href="/aktuality_2.html"><img src="/src/svg/electrical.svg" alt="Znak města Železný Brod"
            class="c-image news__image"></a>
        <div class="news__text">
          <a class="h2 a" href="/aktuality_2.html">Oznámení o přerušení dodávky elektrické
            energie</a>
          <p class="news__date">02.06.2025</p>
          <p>Upozorňujeme občany, že dne 4. 6. 2025 od 10:00 do 12:00 hodin proběhne odstávka
            elektřiny, a
            to
            v části obce Těpeře.</p>
          <a href="/aktuality_2.html" class="c-button c-news__button">Přečíst</a>
        </div>
      </div>

      <div class="c-news c-news__index">
        <a href="/aktuality_3.html"><img src="/src/svg/charging-pump.svg" alt="Znak města Železný Brod"
            class="c-image news__image"></a>
        <div class="news__text">
          <a class="h2 a" href="/aktuality_3.html">Omezení dobíjecí stanice pro
            elektromobily</a>
          <p class="news__date">28.05.2025</p>
          <p>Upozorňujeme, že ve dnech 6. - 8. června bude v Železném Brodě probíhat Železnobrodský
            jarmark, a
            tudíž bude omezený přístup k oběma nabíjecím stanicím pro elektromobily v Železném
            Brodě.
            Přístup bude znemožněn od 1. června, kdy budou naváženy atrakce. Obnovení provozu
            předpokládáme
            10. června, po odjezdu všech atrakcí.</p>
          <a href="/aktuality_3.html" class="c-button c-news__button">Přečíst</a>
        </div>
      </div>
    </div>
    </section>

    <section class="calendar__section">
      <h1 class="h1__section">Kalendář akcí</h1>
      <div class="calendar__container">
      
      <div class="calendar__card calendar__index">
        <h2>Beseda s PČR</h2>
        <p>Přijďte si popovídat s místní okrskářkou nprap. Eliškou Havrdovou o situaci v našem městě, jak předcházet
          podvodům apod. Určeno pro všechny věkové kategorie.</p>
        <div class="calendar__footer">
          <div class="calendar__text">
            <p>Datum a čas: 3.6.2025 16:00</p>
            <p>Místo konání: Městská knihovna Železný Brod</p>
          </div>
          <img src="/src/img/kalendar_1.webp" alt="Beseda s PČR" class="c-image calendar__image">
        </div>
      </div>

      <div class="calendar__card calendar__index">
        <h2>Beseda s PČR</h2>
        <p>Přijďte si popovídat s místní okrskářkou nprap. Eliškou Havrdovou o situaci v našem městě, jak předcházet
          podvodům apod. Určeno pro všechny věkové kategorie.</p>
        <div class="calendar__footer">
          <div class="calendar__text">
            <p>Datum a čas: 3.6.2025 16:00</p>
            <p>Místo konání: Městská knihovna Železný Brod</p>
          </div>
          <img src="/src/img/kalendar_1.webp" alt="Beseda s PČR" class="c-image calendar__image">
        </div>
      </div>

      <div class="calendar__card calendar__index">
        <h2>Beseda s PČR</h2>
        <p>Přijďte si popovídat s místní okrskářkou nprap. Eliškou Havrdovou o situaci v našem městě, jak předcházet
          podvodům apod. Určeno pro všechny věkové kategorie.</p>
        <div class="calendar__footer">
          <div class="calendar__text">
            <p>Datum a čas: 3.6.2025 16:00</p>
            <p>Místo konání: Městská knihovna Železný Brod</p>
          </div>
          <img src="/src/img/kalendar_1.webp" alt="Beseda s PČR" class="c-image calendar__image">
        </div>
      </div>

      </div>
    </section>
  </main>

  {% include "templates/partials/footer.html" %}

  <script src="/src/scripts/hamburger.js"></script>
</body>

</html>