<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <meta name="description"
        content="Objevte Koberovy – klidnou podkrkonošskou obec ideální pro výlety do Maloskalska a severní části Českého ráje. Pěší a cyklistické trasy k Besedickým skalám, Suchým skalám a vyhlídkám na Kozákov.">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" >
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" >
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" >
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" >
    <link rel="manifest" href="/favicon/site.webmanifest" >
    <title>Obec Koberovy | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main">
        <h1 class="h1__center">Koberovy</h1>
        <section class="page__tips">
            <div class="tips__container">
                <div>
                    <p>Obec Koberovy, která leží jen několik kilometrů jihovýchodně od Železného Brodu, představuje
                        ideální výchozí bod pro objevování krás Maloskalska a severní části Českého ráje. Tato klidná
                        podkrkonošská obec nabízí malebné scenérie, přírodní památky i tradiční venkovskou architekturu.
                    </p>
                </div>
                <div class="img-with-info">
                    <img src="/img/koberovy.webp" class="tips__img" alt="Koberovy rozhledna Hamštejn"
                        srcset="/img/koberovy720.webp 720w, /img/koberovy1280.webp 1280w, /img/koberovy1920.webp 1920w"
                        sizes="100vw">
                    <a class="info-btn"
                        href="https://liberecka.drbna.cz/zpravy/spolecnost/19218-nad-koberovy-mela-vyrust-rozhledna-dodnes-tam-nestoji-jednou-ale-mozna-bude.html"
                        title="Zdroj: https://liberecka.drbna.cz/zpravy/spolecnost/19218-nad-koberovy-mela-vyrust-rozhledna-dodnes-tam-nestoji-jednou-ale-mozna-bude.html">
                        i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Turistika a přírodní zajímavosti</h2>
                    <p>Z Koberov vede několik značených turistických tras – například k Besedickým skalám, na Malou
                        Skálu nebo k vyhlídkám na Suché skály. Oblast je oblíbená mezi pěšími turisty i cyklisty a
                        nabízí nádherné výhledy na krajinu Jizerských hor a Českého ráje.</p>
                </div>
                <div class="img-with-info">

                    <img src="/img/koberovy2.webp" class="tips__img" alt="Koberovy obec"
                        srcset="/img/koberovy2720.webp 720w, /img/koberovy21280.webp 1280w, /img/koberovy21920.webp 1920w"
                        sizes="100vw">
                    <a class="info-btn" href="https://cs.wikipedia.org/wiki/Koberovy"
                        title="Zdroj: https://cs.wikipedia.org/wiki/Koberovy">
                        i</a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Kulturní a místní život</h2>
                    <p>Koberovy si zachovávají svůj venkovský ráz. Najdete zde nejen kostel sv. Václava, ale také
                        roubené chalupy a bohaté kulturní dění v průběhu roku – od poutí po menší místní slavnosti. Obec
                        je známá přátelským prostředím a pohostinností.</p>
                </div>
                <div class="img-with-info">
                    <img src="/img/koberovy3.webp" class="tips__img" alt="Roubenka v Koberovech"
                        srcset="/img/koberovy3720.webp 720w, /img/koberovy31280.webp 1280w, /img/koberovy31920.webp 1920w"
                        sizes="100vw">
                    <a class="info-btn"
                        href="https://www.booking.com/hotel/cz/ubytovani-roubenka.cs.html?aid=356980&label=gog235jc-1DCAsoOkISdWJ5dG92YW5pLXJvdWJlbmthSDNYA2g6iAEBmAEFuAEXyAEM2AED6AEBiAIBqAIDuAKi7fvBBsACAdICJGU4MDc3Zjk1LTM2ZDItNDAwNC1hY2ZhLTQyZjAyNTdhMDdkMtgCBOACAQ&sid=ff437438e3b6b0de3f2e10c14cd03989&dist=0&keep_landing=1&sb_price_type=total&type=total&"
                        title="Zdroj: https://www.booking.com/hotel/cz/ubytovani-roubenka.cs.html?aid=356980&label=gog235jc-1DCAsoOkISdWJ5dG92YW5pLXJvdWJlbmthSDNYA2g6iAEBmAEFuAEXyAEM2AED6AEBiAIBqAIDuAKi7fvBBsACAdICJGU4MDc3Zjk1LTM2ZDItNDAwNC1hY2ZhLTQyZjAyNTdhMDdkMtgCBOACAQ&sid=ff437438e3b6b0de3f2e10c14cd03989&dist=0&keep_landing=1&sb_price_type=total&type=total&">

                        i
                    </a>
                </div>
            </div>
            <div class="tips__container">
                <div>
                    <h2>Přístup a doprava</h2>
                    <p>Do Koberov se snadno dostanete autem i pěšky z centra Železného Brodu. Obec je dobře dostupná po
                        silnici směrem na Malou Skálu. V letní sezóně tudy prochází množství turistů směřujících do
                        skalních měst a okolních přírodních rezervací.

                    </p>
                </div>
                <iframe src="https://mapy.com/s/femunaduja" height="250" title="Mapa Koberov"></iframe>
            </div>
        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/assets/js/hamburger.js"></script>
</body>

</html>