<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <meta name="description"
        content="Aktuální kulturní program v Železném Brodě – koncerty, výstavy, festivaly, tradiční jarmarky a akce pro celou rodinu.">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Kultura | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <h1 class="page__title">Kultura</h1>
        <section class="culture__container">
            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Městské divadlo</h2>
                        <p class="culture__address">nám. 3.května 1, Železný Brod</p>
                        <p>Divadlo se nachází v prvním poschodí radnice. Jeho kapacita je 320 míst. Divadelní sál byl
                            vybudován
                            v roce 1936 jako přístavba k budově radnice. Oponu pro městské divadlo namaloval malíř
                            Vlastimil
                            Rada společně s Václavem Rabasem. Rekonstruovaná opona se nyní nachází v městské galerii,
                            současná
                            opona je z rukou sochaře M. Hrachy. Divadlo využívají jak zájezdové scény, tak zdejší
                            ochotnický
                            spolek DS Tyl Železný Brod, o.s. </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/divadlo.webp" alt="Divadlo" class="culture__img"
                            srcset="/assets/images/divadlo720.webp 720w, /assets/images/divadlo1280.webp 1280w, /assets/images/divadlo1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/" class="info-btn"
                            title="Zdroj: https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/">i</a>
                        <!--https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>KC Kino</h2>
                        <p class="culture__address">Husova 697, 468 22 Železný Brod</p>
                        <p>Variabilní kulturní prostor pro 200 diváků. V pravidelných intervalech hrajeme pro malé děti
                            i
                            pro seniory, pro maminky na mateřské dovolené, pro mladé publikum, pro náročné diváky i pro
                            ty,
                            kdo si chtějí v kině hlavně odpočinout. Hrajeme až šestkrát týdně a to pro jakýkoliv počet
                            diváků, cestu do kina tedy nikdy nebudete vážit zbytečně!</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/kino1.webp" alt="KC Kino" class="culture__img"
                            srcset="/assets/images/kino1720.webp 720w, /assets/images/kino11280.webp 1280w, /assets/images/kino11920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/" class="info-btn"
                            title="Zdroj: https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/">i</a>
                        <!--https://www.zeleznybrod.cz/cz/turista/kam-za-kulturou/-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Městské muzeum</h2>
                        <p class="culture__address">nám. 3. května 37, Železný Brod</p>
                        <p>Městské muzeum má dvě expozice: sklářská expozice se nachází v tzv. Klemencovsku na náměstí,
                            národopisná expozice potom v tzv. Bělišti. Sklářská expozice městského muzea představuje
                            historii sklářské výroby na Železnobrodsku, proslulé železnobrodské figurky a galerii tavené
                            skleněné plastiky světově proslulých výtvarníků Jaroslavy Brychtové a Stanislava Libenského.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/muzeum.webp" alt="Městské muzeum" class="culture__img"
                            srcset="/assets/images/muzeum720.webp 720w, /assets/images/muzeum1280.webp 1280w, /assets/images/muzeum1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://turistickyatlas.cz/vse/misto/6992_mestske-muzeum-zelezny-brod.html"
                            class="info-btn"
                            title="Zdroj: https://turistickyatlas.cz/vse/misto/6992_mestske-muzeum-zelezny-brod.html">i</a>
                        <!--https://turistickyatlas.cz/vse/misto/6992_mestske-muzeum-zelezny-brod.html-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Městská knihovna</h2>
                        <p class="culture__address">Jiráskovo nábřeží 737, 46822 Železný Brod</p>
                        <p>Knihovna s multifunkčním sálem se nachází v zrekonstruované budově bývalého výměníku.
                            Návštěvníkům nabízí bohatý výběr krásné i naučné literatury, e-knih, audioknih, časopisů,
                            her a další. Pravidelně pořádá různé kulturní a vzdělávací akce. V knihovně je možné využít
                            veřejný internet zdarma.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/knihovna.webp" alt="Městská knihovna" class="culture__img"
                            srcset="/assets/images/knihovna720.webp 720w, /assets/images/knihovna1280.webp 1280w, /assets/images/knihovna1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://zeleznybrod.knihovna.cz/" class="info-btn"
                            title="Zdroj: https://zeleznybrod.knihovna.cz/">i</a>
                        <!--https://zeleznybrod.knihovna.cz/-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Minimuzeum skleněných betlémů </h2>
                        <p class="culture__address">Železná ulice 103, 468 22 Železný Brod</p>
                        <p>Unikátní sbírka 60ti skleněných betlémů, jediná svého druhu na světě. při minimuzeu i
                            prodejna skla (skleněné betlémy, figurky, květiny, korále, ad.) a korálková dílnička.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/minimuzeum.webp" alt="Minimuzeum skleněných betlémů"
                            class="culture__img"
                            srcset="/assets/images/minimuzeum720.webp 720w, /assets/images/minimuzeum1280.webp 1280w, /assets/images/minimuzeum1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://minimuzeum.wixsite.com/betlemy/onas" class="info-btn"
                            title="Zdroj: https://minimuzeum.wixsite.com/betlemy/onas">i</a>
                        <!--https://minimuzeum.wixsite.com/betlemy/onas-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Muzeum socialistických vozů</h2>
                        <p class="culture__address">Průmyslová 912, Železný Brod</p>
                        <p>Muzeum prezentuje motorismus východního bloku 50. - 80. let minulého století a připomíná
                            návštěvníkům časy nedávno minulé. Sbirku tvoří vozidla soukromých majitelů, kteří se o svojí
                            zálibu chtějí podělit s návštěvníky muzea. Nový domov zde našly prototypy, vládní speciály,
                            roztodivné velorexy, ale především běžné vozy, kterých byly za minulého režimu plné ulice.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/assets/images/vozy.webp" alt="Vozy v muzeu" class="culture__img"
                            srcset="/assets/images/vozy720.webp 720w, /assets/images/vozy1280.webp 1280w, /assets/images/vozy1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.firmy.cz/detail/12892313-muzeum-socialistickych-vozu-zelezny-brod.html"
                            class="info-btn"
                            title="Zdroj: https://www.firmy.cz/detail/12892313-muzeum-socialistickych-vozu-zelezny-brod.html">i</a>
                        <!--https://www.firmy.cz/detail/12892313-muzeum-socialistickych-vozu-zelezny-brod.html-->
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "templates/partials/footer.html" %}

    <script src="/assets/js/hamburger.js"></script>
</body>

</html>