<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta name="description"
        content="Letní sklářská dílna 2025 v Železném Brodě – sympozium propojující umělce a sklářské řemeslníky. Veřejné ukázky tvorby ve školní huti 17.–19. června, autorské přednášky 20.–21. června.">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" >
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" >
    <link rel="shortcut icon" href="/favicon/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" >
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" >
    <link rel="manifest" href="/favicon/site.webmanifest" >
    <title>LSD 2025 | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <section class="news__container">
            <h1 class="news__h1">Letní Sklářská dílna</h1>
            <div class="calendar__a img-with-info">
                <a href="/img/LSD2025.webp">
                    <img src="/img/LSD2025.webp" alt="Plakát pro LSD2025" class="c-image calendar__img"
                        srcset="/img/LSD2025720.webp 720w, /img/LSD20251280.webp 1280w, /img/LSD20251920.webp 1920w"
                        sizes="100vw">
                </a>
                <a href="https://www.zeleznybrod.cz/cz/aktualne/kalendar-akci/detail-akce.html?eventId=81607#prettyPhoto"
                    class="info-btn"
                    title="Zdroj: https://www.zeleznybrod.cz/cz/aktualne/kalendar-akci/detail-akce.html?eventId=81607#prettyPhoto">
                    i
                </a>
            </div>
            <div class="news__content">
                <p>LSD 2025 - Kreativní dialog umělců a sklářských řemeslníků, aktuální přístupy ve sklářské tvorbě,
                    experimentální technologie v praxi, inspirace pro žáky sklářské školy i jejich pedagogy – takto
                    lze charakterizovat již 14. ročník sklářského sympozia Letní sklářská dílna, které se bude konat
                    10.–11. června v Železném Brodě. Pouze několik dní budou mít umělci k tomu, aby ve spolupráci se
                    sklářskými řemeslníky převedli svou ideu do skleněného materiálu. Realizace se uskuteční v
                    převažující míře v železnobrodské sklářské škole. Své technologické zázemí, materiál a ruce
                    sklářů poskytne pro jednoho z účastníků sympozia, již posedmé, sklářská firma Detesk.
                </p>
                <p>
                    Veřejnosti bude zpřístupněna nejatraktivnější část průběhu sympozia – tvorba umělců ve školní
                    sklářské huti – a to ve dnech 17. – 19. června. Volně dostupné budou také přednášky o tvorbě
                    jednotlivých umělců. Tyto autorské prezentace se uskuteční v aule sklářské školy ve dnech 20. a
                    21. června 2025.
                </p>
                <div class="calendar__text">
                    <p>Datum a čas: od 06.06.2025 18:30 do 08.06.2025</p>
                    <p>Místo konání: Železný Brod</p>
                </div>
            </div>
            <a href="javascript:history.back()" class="c-button news__button">Zpět</a>
        </section>

        <section class="news__next">
            <h2>Další akce</h2>

            <div class="calendar__card calendar__index">
                <a class="a h2" href="/zeleznobrodsky_jarmark.html">Železnobrodský jarmark</a>
                <p>Tradiční slavnost s neopakovatelnou atmosférou. Ulice města ožívají stánky s řemeslnými výrobky,
                    regionálními specialitami a zábavným programem pro celou rodinu. Těšit se můžete na živou hudbu,
                    divadelní vystoupení, atrakce pro děti a ukázky tradičních řemesel.
                    Přijďte zažít den plný chutí, barev a radosti v srdci sklářského města!
                </p>
                <div class="calendar__footer">
                    <div class="calendar__text">
                        <p>Datum a čas: od 06.06.2025 18:30 do 08.06.2025</p>
                        <p>Místo konání: Železný Brod</p>
                    </div>
                    <a href="/zeleznobrodsky_jarmark.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>

            <div class="calendar__card calendar__index">
                <a class="a h2">Těpeřský vědomostní kvíz</a>
                <p>
                    Kvíz se skládá z otázek ze 4 zajímavých okruhů.
                    Tématem těchto okruhů může být skutečně cokoliv - od sportu přes zeměpis do kuchyně ke kultuře a
                    zábavě.
                    Tak přijďte se s námi potrápit mozkové závity, nebo se něco zajímavého dozvědět
                    Ten kdo vyhraje, s prázdnou neodejde
                    Občerstvení je zajištěno, stejně tak jako dobré pivko, vínko a nealko.
                </p>
                <div class="calendar__footer">
                    <div class="calendar__text">
                        <p>Datum a čas: 14.06.2025 od 19:00 hodin</p>
                        <p>Místo konání: Sokolovna Těpeře</p>
                    </div>
                    <a href="/tepersky_kviz.html" class="c-button c-news__button">Přečíst</a>
                </div>
            </div>

        </section>
    </main>


    {% include "templates/partials/footer.html" %}


    <script src="/assets/js/hamburger.js"></script>
</body>

</html>