<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <meta name="description"
        content="Potřebujete nakoupit nebo využít místní služby? Prozkoumejte nabídku obchodů, řemeslníků a dalších služeb v Železném Brodě.">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" >
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" >
    <link rel="shortcut icon" href="/favicon/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" >
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz" >
    <link rel="manifest" href="/favicon/site.webmanifest" >
    <title>Obchody | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <h1 class="page__title">Obchody</h1>
        <section class="culture__container">
            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Penny Market</h2>
                        <p class="culture__address">Průmyslová 874, Železný Brod</p>
                        <p>Diskontní prodej potravin a zboží denní potřeby. Nabídka Bio potravin, mléčných výrobků,
                            masa, těstovin, nápojů, lahůdek, mražených výrobků a cukrovinek. Zakoupíte zde i kosmetické
                            přípravky, volně prodejné léčivé přípravky, krmiva pro zvířata.</p>
                        <p class="service__opening-hours"><b>Otevírací doba</b></p>
                        <p>Pondělí - Neděle: 7:00-20:00</p>

                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/penny.webp" alt="Penny Market" class="culture__img"
                            srcset="/img/penny720.webp 720w, /img/penny1280.webp 1280w, /img/penny1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.penny.cz/" class="info-btn" title="Zdroj: https://www.penny.cz/">i</a>
                        <!--Zdroj Penny-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Lidl</h2>
                        <p class="culture__address">Průmyslová 897, 468 22 Železný Brod</p>
                        <p>Prodej potravin a spotřebního či drogistického zboží. Nabídka bioproduktů, mléčných, masných
                            a mražených výrobků, sýrů, tuzemských i zahraničních vín a dalších nápojů. V našem
                            sortimentu naleznete vybavení do domu či bytu, textil, kosmetiku nebo květiny. Dodáváme také
                            produkty vlastních značek.</p>
                        <p class="service__opening-hours"><b>Otevírací doba</b></p>
                        <p>Pondělí - Sobota: 7:00-21:00</p>
                        <p>Neděle: 8:00-21:00</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/lidl.webp" alt="Lidl" class="culture__img"
                            srcset="/img/lidl720.webp 720w, /img/lidl1280.webp 1280w, /img/lidl1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.lidl.cz/" class="info-btn" title="Zdroj: https://www.lidl.cz/">i</a>
                        <!--Zdroj Lidl-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>NORMA</h2>
                        <p class="culture__address">nám. 3. května 738, Železný Brod</p>
                        <p>Prodej potravin a nepotravinářského zboží. Nabídka sladkého a slaného pečiva, čerstvého i
                            trvanlivého mléka, nápojů, sladkostí, hotových jídel a kávy. Dále prodej čajů, konzerv,
                            kosmetiky, mycích a čisticích prostředků, kancelářských potřeb, mraženého a chlazeného zboží
                            a čerstvého ovoce a zeleniny.</p>
                        <p class="service__opening-hours"><b>Otevírací doba</b></p>
                        <p>Pondělí - Pátek: 7:00-20:00</p>
                        <p>Sobota - Neděle: Zavřeno</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/norma.webp" alt="NORMA" class="culture__img"
                            srcset="/img/norma720.webp 720w, /img/norma1280.webp 1280w, /img/norma1920.webp 1920w"
                            sizes="100vw">
                        <a href="http://michal.struzsky.cz/" class="info-btn"
                            title="Zdroj: http://michal.struzsky.cz/">i</a>
                        <!--Zdroj Michal Stružský-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>DETESK s.r.o.</h2>
                        <p class="culture__address">nám. 3. května 20, 468 22 Železný Brod</p>
                        <p>Po kompletní rekonstrukci domu č. p. 20 na železnobrodském náměstí je od 24. července 2014
                            opět otevřena nová, prostornější prodejna společnosti DETESK.
                            Kromě prodejny v přízemí Vás rádi přivítáme i v dalších prostorách domu, které slouží jako
                            stálá expozice skla vztahujícího se k Železnému Brodu a také v galerii nacházející se v
                            podkrovních prostorách. Součástí objektu je i vinotéka, ve které nabízíme francouzská a
                            italská vína.</p>
                        <p class="service__opening-hours"><b>Otevírací doba</b></p>
                        <p>Pondělí - Neděle: 9:00-17:00</p>

                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/detesk.webp" alt="Detesk" class="culture__img"
                            srcset="/img/detesk720.webp 720w, /img/detesk1280.webp 1280w, /img/detesk1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.detesk.cz/cs/kde-nakoupit/zelezny-brod/" class="info-btn"
                            title="Zdroj: https://www.detesk.cz/cs/kde-nakoupit/zelezny-brod/">i</a>
                        <!--https://www.detesk.cz/cs/kde-nakoupit/zelezny-brod/-->
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "templates/partials/footer.html" %}

    <script src="/assets/js/hamburger.js"></script>
</body>

</html>