<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="/src/svg/logo-dark.svg" type="image/svg+xml">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=
    , initial-scale=1.0" >
    <link rel="stylesheet" type="text/css" href="/src/styles/main.css">
    <title>Železný Brod | Ostatní</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="Další užitečné informace o Železném Brodě – od pošty po banky. Vše, co potřebujete vědět pro pohodlný pobyt ve městě.">
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <h1 class="page__title">Ostatní služby</h1>
        <section class="culture__container">
            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Beauty Salon FREEDOM</h2>
                        <p class="culture__address">Štefánikova 879, 468 22 Železný Brod</p>
                        <p>Provozuji kadeřnický salon. Nabízím kadeřnické služby. Provádím stříhání, barvení,
                            melírování, prodlužování a zhuštování vlasů pomocí keratinu. Používám americkou vlasovou
                            kosmetiku značky MATRIX. Poskytuji poradenství.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/src/img/freedomsalon.webp" alt="Beauty Salon FREEDOM" class="culture__img"
                            srcset="/src/img/freedomsalon720.webp 720w, /src/img/freedomsalon1280.webp 1280w, /src/img/freedomsalon1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.firmy.cz/detail/2372980-beauty-salon-freedom-zelezny-brod.html"
                            class="info-btn"
                            title="Zdroj: https://www.firmy.cz/detail/2372980-beauty-salon-freedom-zelezny-brod.html">i</a>
                        <!--https://www.firmy.cz/detail/2372980-beauty-salon-freedom-zelezny-brod.html-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Pánské holičství Many</h2>
                        <p class="culture__address">Husova 41, Železný Brod</p>
                        <p>Jsme Many, pánské holičství, které spojuje tradiční řemeslo s moderním stylem. Naším cílem je
                            nabídnout každému muži nejen perfektní střih nebo úpravu vousů, ale také místo, kde si může
                            odpočinout a načerpat energii.</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/src/img/many.webp" alt="Pánské holičství Many" class="culture__img"
                            srcset="/src/img/many720.webp 720w, /src/img/many1280.webp 1280w, /src/img/many1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://many-holicstvi.cz/galerie/" class="info-btn"
                            title="Zdroj: https://many-holicstvi.cz/galerie/">i</a>
                        <!--https://many-holicstvi.cz/galerie/-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>TAXI-S</h2>
                        <p class="culture__address">+420 776 290 290</p>
                        <p>Přeprava osob a zavazadel. Dle telefonické dohody. V dopoledních hodinách pouze na objednávku
                            den předem.</p>
                    </div>
                </div>
            </div>

        </section>
    </main>

    {% include "templates/partials/footer.html" %}

    <script src="/src/scripts/hamburger.js"></script>
</body>

</html>