<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="robots" content="index,follow">
    <meta name="description"
        content="Informace o školách a vzdělávacích institucích v Železném Brodě. Najděte základní školy, střední školy a další vzdělávací zařízení.">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="navstivbrod.cz">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Vzdělání | navstivbrod.cz</title>
</head>

<body>
    {% include "templates/partials/header.html" %}

    <main class="main main__width">
        <h1 class="page__title">Vzdělání</h1>
        <section class="culture__container">
            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Základní škola Pelechovská</h2>
                        <p class="culture__address">Pelechovská 800, 468 22 Železný Brod</p>
                        <p>Škola byla postavena v r. 1982 v pěkném přírodním prostředí nad údolím Železného Brodu. Tři
                            pavilony, v nichž jsou umístěny třídy, odborné učebny, školní družina a jídelna jsou
                            doplněny samostatnou tělocvičnou, víceúčelovým sportovním areálem a venkovní učebnou.</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/pelechovska.webp" alt="ZŠ Pelechovská" class="culture__img"
                            srcset="/img/pelechovska720.webp 720w, /img/pelechovska1280.webp 1280w, /img/pelechovska1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.firmy.cz/detail/360306-zs-pelechovska-zelezny-brod.html" class="info-btn"
                            title="Zdroj: https://www.firmy.cz/detail/360306-zs-pelechovska-zelezny-brod.html">i</a>
                        <!--https://www.firmy.cz/detail/360306-zs-pelechovska-zelezny-brod.html-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Základní škola Školní</h2>
                        <p class="culture__address">Školní 700, 468 22 Železný Brod</p>
                        <p>Škola byla postavena v roce 1961 na pravém břehu řeky Jizery. V té době byla jedinou základní
                            školou v Železném Brodě. Později byla v roce 1982 vybudována další základní škola na
                            protějším svahu. Naší škole se říká stará škola, ale stará není. Od roku 2007 jí říkáme
                            duhová.</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/skolni.webp" alt="ZŠ Školní" class="culture__img"
                            srcset="/img/skolni720.webp 720w, /img/skolni1280.webp 1280w, /img/skolni1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.zs-skolni.cz/o-skole" class="info-btn"
                            title="Zdroj: https://www.zs-skolni.cz/o-skole">i</a>
                        <!--https://www.zs-skolni.cz/o-skole-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Základní umělecká škola</h2>
                        <p class="culture__address">Koberovská 589, 468 22 Železný Brod</p>
                        <p>V září roku 1956 byla v Železném Brodě založena Základní hudební škola (tehdy ještě jako
                            pobočka Základní hudební školy v Semilech). Letošní školní rok (2006/2007) je tedy jubilejní
                            50. rok existence školy.</p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/zus.webp" alt="ZUŠ" class="culture__img"
                            srcset="/img/zus720.webp 720w, /img/zus1280.webp 1280w, /img/zus1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.firmy.cz/detail/2237908-zus-zelezny-brod-zelezny-brod.html"
                            class="info-btn"
                            title="Zdroj: https://www.firmy.cz/detail/2237908-zus-zelezny-brod-zelezny-brod.html">i</a>
                        <!--https://www.firmy.cz/detail/2237908-zus-zelezny-brod-zelezny-brod.html-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>SUPŠS</h2>
                        <p class="culture__address">Smetanovo zátiší 470, 468 22 Železný Brod</p>
                        <p>Vznikla roku 1920 na zelené louce ve městě, kde byla pouze tradice domácí výroby, aby
                            vychovala nové umělecké skláře i techniky pro domácí sklářský průmysl. Škola se v průběhu
                            let stala nejkomplexnějším sklářským výchovným zařízením na světě.</p>

                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/supss.webp" alt="SUPŠS" class="culture__img"
                            srcset="/img/supss720.webp 720w, /img/supss1280.webp 1280w, /img/supss1920.webp 1920w"
                            sizes="100vw">
                        <a href="https://www.supss.cz/" class="info-btn" title="Zdroj: https://www.supss.cz/">i</a>
                        <!--https://www.supss.cz/-->
                    </div>
                </div>
            </div>

            <div class="culture__card">
                <div class="culture">
                    <div class="culture__info">
                        <h2>Autoškola Novotný</h2>
                        <p class="culture__address">Štefánikova 223, 468 22 Železný Brod</p>
                        <p>Naše autoškola má dlouholetou tradici a nabízí kompletní služby v oblasti výuky, zkušebních
                            jízd, rekvalifikací
                            a mnoho dalšího. Rozsahem poskytovaných služeb vyhovíme všem žadatelům o řidičský průkaz –
                            soukromý sektor, profesionální řidiči i firemní zaměstnanci.
                        </p>
                    </div>
                    <div class="culture__footer img-with-info">
                        <img src="/img/autoskola.webp" alt="Vůz autoškoly Novotný" class="culture__img"
                            srcset="/img/autoskola720.webp 720w, /img/autoskola1280.webp 1280w, /img/autoskola1920.webp 1920w"
                            sizes="100vw">
                        <a href="http://www.autoskolanovotny.com/" class="info-btn"
                            title="Zdroj: http://www.autoskolanovotny.com/">i</a>
                        <!--http://www.autoskolanovotny.com/-->
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "templates/partials/footer.html" %}

    <script src="/assets/js/hamburger.js"></script>
</body>

</html>