<header class="c-header">
    <div class="header__content">
        <a href="./index.html" class="logo a">
            <img src="/src/svg/logo-bright.svg" alt=" Logo Železný Brod s věží">
            <div class="logo__title">
                <p>Železný Brod</p>
                <p>Neoficiální web města Železný Brod</p>
            </div>
        </a>
        <div class="hamburger-row">
            <a href="#" class="hamburger hamburger-btn hamburger-zone">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <nav class="hamburger-nav hamburger-zone">
            <menu>
                <li class="hamburger-content">
                    <a href="./omeste.html" class="  header__link a">
                        O městě
                    </a>
                </li>
                <li class="hamburger-content">
                    <a href="./akce.html" class="  a header__link">
                        Akce
                    </a>
                </li>
                <li class="hamburger-content">
                    <a href="./tipynavylet.html" class="  a header__link">
                        Tipy výlet
                    </a>
                </li>
                <li class="hamburger-content">
                    <a href="./kultura.html" class="  a header__link">
                        Kultura
                    </a>
                </li>
                <li class="hamburger-content dropdown">
                    <a href="#" class="  a header__link dropdown-toggle">
                        Služby
                        <img src="/src/svg/dropdown.svg" alt="Ikonky šipky pro rozbalovací nabídku"
                            class="dropdown-icon">
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="./urad.html" class="a header__link">Městský úřad</a></li>
                        <li><a href="./obchody.html" class="a header__link">Obchody</a></li>
                        <li><a href="./restaurace.html" class="a header__link">Restaurace</a></li>
                        <li><a href="./zajmy.html" class="a header__link">Zájmy</a></li>
                        <li><a href="./vzdelani.html" class="a header__link">Vzdělání</a></li>
                        <li><a href="./ubytovani.html" class="a header__link">Ubytování</a></li>
                        <li><a href="./sluzby.html" class="a header__link">Věřejné služby</a></li>
                        <li><a href="./ostatni.html" class="a header__link">Ostatní</a></li>

                    </ul>
                </li>
                <li class="hamburger-content">
                    <a href="./kontakty.html" class="  a header__link">
                        Kontakty
                    </a>
                </li>
            </menu>
        </nav>
    </div>
</header>