main {
    flex-grow: 1;
}

.c-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary);
}

.main__width {
    max-width: 1400px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
}

.header__link {
    color: var(--background);
    text-decoration: none;
    font-size: 1.2rem;
}

.dropdown {
    position: relative;
}

.dropdown-icon {
    width: 20px;
    height: auto;
    margin-left: 0.25em;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.dropdown-content {
    list-style: none;
    color: var(--background);
    text-align: center;
    background-color: var(--secondary);
    border-radius: 4px;
    display: none;
    padding: 0;
}

.dropdown-content li {
    padding: 1rem;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown.active .dropdown-icon {
    transform: rotate(0deg);
}

@media (min-width: 1200px) {

    .dropdown-content {
        position: absolute;
        left: -10px;
        top: calc(86px - 1rem);
    }
}

.logo {
    display: flex;
    color: var(--background);
    gap: 1em;
    align-items: center;
}

.logo img {
    max-height: 70px;
    width: auto;
}

.main__h1 {
    padding: 1rem;
}


@media (min-width: 1200px) {
    .c-header {
        padding: 1em 2em;
    }

    .logo {
        height: 70px;
    }
}

.c-image {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.c-footer {
    background-color: var(--primary);
    padding: 1rem;
    padding-bottom: 0;
}

.copyright {
    background-color: var(--secondary);
    color: var(--background);
    text-align: right;
    margin: 0;
    padding: 0.5rem;
    padding-left: 1rem;
    position: absolute;
    left: 0;
    right: 0;
}

.footer__logo {
    display: flex;
    gap: 2rem;
}

.footer__logo img {
    max-height: 70px;
    width: auto;
}

@media (max-width: 600px) {
    .footer__logo {
        flex-direction: column;
        align-items: start;
        gap: 0rem;
    }
}

.footer__link {
    color: var(--background);
    text-decoration: none;
    opacity: 0.9;
}

.footer__grid {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid__category {
    margin: 0;
    margin-top: 1rem;
    color: var(--background);
}

.footer__about {
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
}

.footer__contacts {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}

.footer__slogan {
    margin-top: 1rem;
    color: var(--background);
}

.footer__content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.c-image {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.c-news {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    min-width: 300px;

}

.c-news__index {
    width: 100%;
}

.c-news__button {
    align-self: self-end;

}

.news__image {
    max-width: 100px;
    width: auto;
    object-fit: cover;
    padding: 2rem;
}

.news__text {
    color: var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.news__text a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news__text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1200px) {

    .c-news {
        flex-direction: row;
        max-height: 200px;

    }

    .c-news__index {
        width: 33%;
    }
}

.c-button {
    display: block;
    background-color: var(--primary);
    color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: fit-content;
}

.calendar__card {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 3px solid var(--primary);
}

.calendar__card p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.calendar__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0.6;
}

.calendar__footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}