@import "./normalize.css";
@import "./typography.css";
@import "./hamburger.css";
@import "./components.css";

:root {
    --background: #F5F5F5;
    --primary: #327DC3;
    --secondary: #2E72B2;
    --black: #000000;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.hero {
    position: relative;
}

.hero__image {
    filter: brightness(60%);
    max-height: 800px;
    object-fit: cover;
    object-position: top;
}

.hero__title {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background);
    text-align: center;
}

.hero__title h1 {
    margin-bottom: 0.5em;
    font-size: 2.3rem;
    white-space: nowrap;
}

.hero__title p {
    font-size: 1.3rem;
    white-space: nowrap;
}

.page__info {
    color: var(--primary);
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.page__info-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
    .page__info-wrapper {
        grid-template-columns: 1fr;
    }
}

.info__img {
    margin: 1.5rem auto;
    height: 65px;
    width: auto;
}

.page__about {
    color: var(--black);
    margin: 0 2rem 2rem;
    max-width: 1200px;
}

.page__about>p {
    margin: 1rem 0;
}

.page__about>h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.page__contacts {
    color: var(--black);
    margin: 0;
}

.page__contacts>h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.page__contacts>p {
    margin: 1rem 0;
}

.contacts__info {
    margin: 1.5rem 0;
}

.institutes {
    margin: 0;
    opacity: 0.6;
}

.page__opening {
    color: var(--black);
    margin: 0;
}

.page__opening>h2 {
    margin: 1.5rem 0;
}

.contacts__map {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.opening-hours {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.page__tips {
    color: var(--black);
    margin: 1.5rem 2rem;
}

.page__tips>h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.page__tips>h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.tips__img {
    width: 100%;
    max-width: 300px;
}


.page__title {
    margin-top: 1.5rem;
    text-align: center;
}

.about__us {
    padding-left: 2rem;
    margin: 2rem auto;
    max-width: 1400px;
    width: 100%;
}

.creators {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.creators__socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.creators__container {
    display: flex;
    gap: 10rem;
    margin-top: 1rem;
}

.creators__img {
    width: 30px;
}

.page__grid {
    padding-left: 2rem;
}


@media (min-width: 1200px) {
    .page__info-wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1400px;
        margin: 0 auto;
    }

    .hero__title {
        padding: 3rem;
    }

    .page__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1400px;
        margin: 0 auto;
        gap: 5rem;
    }

    .page__tips {
        display: flex;
        flex-direction: column;
    }

    .tips__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 500px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tips__container>div {
        max-width: 500px;
    }

    .tips__container h1,
    .tips__container h2 {
        margin-bottom: 1rem;
    }

    .page__about>h1 {
        text-align: left;
    }

    .page__about {
        margin: 0 auto;
    }

    .page__title {
        text-align: left;
        margin-left: 1rem;
    }
}


.news__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {

    .news__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.news__container {
    display: grid;
    grid-template-areas:
        "h1"
        "img"
        "content"
        "button";
    align-items: center;
    margin: 1em;
    gap: 2em;
    justify-content: end;
}

.news__h1 {
    grid-area: h1;
    text-align: center;
}

.news__date {
    opacity: 0.6;
}

.news__img {
    grid-area: img;
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    text-align: left;
}

.news__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.news__button {
    grid-area: button;
    align-self: right;
}

.news__next {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
}

#news__list {
    list-style: none;
    display: flex;
}

#news__list li {
    padding-left: 1em;
}

.about__img {
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
}

.calendar__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.culture__card {
    margin: 2rem;
    border-bottom: 3px solid var(--primary);
}

.culture__info {
    margin: 1rem;
    max-width: 600px;
}

.culture__img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.culture__address {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.service__opening-hours {
    margin-top: 1rem;
}


@media (min-width: 1200px) {
    .news__container {
        grid-template-areas:
            "img h1"
            "img content"
            "img button";
    }

    .news__img {
        margin-right: 5rem;
    }

    .culture {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page__contacts>h1 {
        text-align: left;
    }

    .about__section {
        display: flex;
        gap: 100px;
    }
}

.calendar__section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 0;
}

.h1__section {
    margin: 1rem;
}

.calendar__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1em;
}

.news__flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news__section {
    max-width: 1400px;
    margin: 0 auto;
}

.img-with-info {
    position: relative;
    display: inline-block;
}

.info-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--background);
    border: 2px solid var(--black);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .calendar__container {
        flex-direction: row;
    }

    .news__flex {
        flex-direction: row;
    }
}

.calendar__index {
    width: 100%;
}

.calendar__a {
    display: block;
    grid-area: img;
}

.calendar__img {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
}