main {
    flex-grow: 1;
}

.c-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary);
}

.logo {
    display: block;
    height: 55px;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}



@media (min-width: 1200px) {
    .c-header {
        padding: 1em 2em;
    }

    .logo {
        height: 70px;
    }
}

.c-image {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.c-footer {
    background-color: var(--primary);
    padding: 1rem;
    padding-bottom: 0;
}

.copyright {
    background-color: var(--secondary);
    text-align: right;
    margin: 0;
    padding: 0.5rem;
    padding-left: 1rem;
}

.footer__link {
    color: var(--background);
    text-decoration: none;
    opacity: 0.7;
}

.footer__grid {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid__category {
    margin: 0;
    margin-top: 1rem;
}

.footer__about {
    display: grid;
    gap: 1rem;
}

.footer__contacts {
    display: grid;
    gap: 1rem;
}

.footer__slogan {
    margin-top: 1rem;
}

main {
    flex-grow: 1;
}

.c-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary);
}

.logo {
    display: block;
    height: 55px;
    width: auto;
}

@media (min-width: 1200px) {
    .c-header {
        padding: 1em 2em;
    }
}

.c-image {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.news__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.c-news {
    display: flex;
    max-height: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.news__image {
    max-height: 150px;
    width: auto;
    object-fit: cover;
}

.news__text {
    color: var(--black);
    padding: 1rem;
}

@media (min-width: 1200px) {
    .news__section {
        flex-direction: row;
        gap: 2rem;
    }

    .c-news {
        flex-direction: row;
        max-height: 200px;
    }

    .news__image {
        max-height: 200px;
    }
}