@import "./normalize.css";
@import "./typography.css";
@import "./hamburger.css";
@import "./components.css";

:root {
    --background: #F5F5F5;
    --primary: #327DC3;
    --secondary: #2E72B2;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.hero {
    max-height: 800px;
}

.hero__image {
    filter: brightness(70%);
}

.hero__title {
    position: absolute;
    
}