@import "./normalize.css";
@import "./typography.css";
@import "./hamburger.css";
@import "./components.css";

:root {
    --background: #F5F5F5;
    --primary: #327DC3;
    --secondary: #2E72B2;
    --black: #000000;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.hero {
    position: relative;
}

.hero__image {
    filter: brightness(60%);
    max-height: 800px;
    object-fit: cover;
    object-position: top;
}

.hero__title {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    color: var(--background);
}

.hero__title h1 {
    margin-bottom: 0.5em;
}

.page__info {
    color: var(--primary);
    justify-content: center;
    text-align: center;
    padding: 2rem;
    display: grid;
    flex-direction: column;
}

.page__info-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
}

.info__img {
    margin: 1.5rem auto;
}

.page__about {
    color: var(--black);
    margin: 0 2rem 2rem;
    max-width: 1200px;
}

.page__about>p {
    margin: 1rem 0;
}

.page__about>h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.page__contacts {
    color: var(--black);
    margin: 0 3rem;
}

.page__contacts>h1 {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.page__contacts>p {
    margin: 1rem 0;
}

.contacts__info {
    margin: 1.5rem 0;
}

.institutes {
    margin: 0;
    opacity: 0.6;
}

.page__opening {
    color: var(--black);
    margin: 3rem 2rem 0;
}

.contacts__map {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.opening-hours {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.page__tips {
    color: var(--black);
    margin: 1.5rem 2rem;
}

.page__tips>h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.page__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1200px) {
    .page__info-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero__title {
        padding: 3rem;
    }
}

.news__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.news__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 1200px) {
    .news__section {
        flex-direction: row;
        gap: 2rem;
    }

    .news__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.news__container {
    display: grid;
    grid-template-areas:
        "h1"
        "img"
        "content"
        "button";
    align-items: center;
    margin: 1em;
    gap: 1em;
    justify-content: end;
}

.news__h1 {
    grid-area: h1;
    text-align: center;
}

.news__date {
    opacity: 0.6;
}

.news__img {
    grid-area: img;
    max-width: 400px;
    margin: 0 auto;
}

.news__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.news__button {
    grid-area: button;
}
.news__next {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 1200px) {

    .news__container {
        grid-template-areas:
            "img h1"
            "img content"
            "img button";
    }

    .news__h1 {
        text-align: left;
    }
}
