@import "./normalize.css";
@import "./typography.css";
@import "./hamburger.css";
@import "./components.css";
@import "./typography.css";

:root {
    --background: #F5F5F5;
    --primary: #327DC3;
    --secondary: #2E72B2;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.hero {
    position: relative;
}

.hero__image {
    filter: brightness(60%);
    max-height: 800px;
}

.hero__title {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
}

.hero__title h1 {
    margin-bottom: 0.5em;
}

.page__info {
    color: var(--primary);
    justify-content: center;
    text-align: center;
    padding: 2rem;
    display: grid;
    flex-direction: column;
}

.page__info-wrapper {   
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
}

.info__img {
    margin-bottom: 1.5rem;
    margin: 1.5rem auto;
}

@media (min-width: 1200px) {
    .page__info-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}