@import "./normalize.css";
@import "./components.css";
@import "./typography.css";

:root {
    --background: #F5F5F5;
    --primary: #327DC3;
    --secondary: #2E72B2;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
}

main {
    flex-grow: 1;
}